<div class="carContainer" >
    <h1 class="itemTitle"><%= item.year %> <%= item.make %> <%= item.model%></h1>
    <div class="imgContainer">
        <img class="carImg" id="Img<%=item.id%>" src=<%= item.imgpath[0] %> alt="image from array" value=0> 
        <% if(item.imgpath.length > 1){%>
            <button class="imgToggle" id="left" value="<%= item.id %>" onclick=toggleImg()>&larr;</button>
            <button class="imgToggle" id="right" value="<%= item.id %>" onclick=toggleImg()>&rarr;</button>
        <%} %>
 
    </div>
    <p><%= item.description %></p>
    <h3>Price: <%=item.price %></h3>
   
    <p class="data" hidden id="Data<%=item.id %>" ><%= JSON.stringify(item) %></p>
    <!-- {category, year, make, drive, price, model} -->
</div>

