<form action="/viewSingle" method="post" class="carContainer" onclick=handleSubmit(this)>
        <h1 class="itemTitle"><%= item.year %> <%= item.make %> <%= item.model%></h1>
        <% if(deleteItem === true){ %>
            <button id=<%= item.id %> class="delete" onclick=handleDelete()>Delete Post</button>
        <%}%>
        <div class="imgContainer">
            <img class="carImg" id="Img<%=item.id%>" src=<%= item.imgpath[0] %> alt="image from array" value=0> 
  
     
        </div>
    
        <h3 class="price">Price: <%=item.price %></h3>
   
       
        <!-- i = key -->
        <%for(let i in item){%>
            <% if(i !== 'imgpath'){%>
                <textarea name=<%=i%>><%= item[i] %></textarea>

            <%}%>
          
        <%}%>

        


    
</form>
<style>
    textarea{
        display: none;
    }
</style>
