<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/belair.png">
    <link rel="stylesheet" href="/styles/viewSingle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">

    <title><%=`${item.year} ${item.make} ${item.model}`%></title>
</head>
<body>
    <div class="header">
        <h1 class="title">Classic Car Depot</h1>

        <a href="/" class="iconLink">
            <img src="/img/belair.png" alt="Belair illustration" class="icon"> <!-- starting w/ "/" indicates public folder as root for img src. -->
        </a>
        <div class="filters"> 
            <select name="category" id="category" class="selectors" disabled>
                <option class="allOptions" value='*'>All Options</option>
              
            </select>

            <select name="make" id="make" class="selectors" disabled>
                <option value="*">All Makes</option>
            </select>
            

            <button class="updateFilters" disabled>Update Filters</button>
        </div>

        

        <a class="addCarLink" href="/addCar">Click to Post Your Ride</a>
    </div>
    <div class="pageContent">
        <div class="imgContainer">
            <img class="primaryImg" src=<%= item.imgpath[0] %> alt="image from array" value=0> 

            <div class="imgPreview">
                <%for(let i = 0; i < item.imgpath.length; i++){%>
                    <img id="img" class='img'+<%=i%> src=<%=item.imgpath[i]%> alt="Image preview" onclick=changePrimaryImg()>
                <%}%>
            </div> 
        </div>
        
        <div class="textContainer">
            <h1 class="makeModel"><%=`${item.year} ${item.make} ${item.model} - $${item.price}`%></h1>

            <h3 class="specTitle">Vehicle Specifications</h3>
            
            <div class="specContainerParent">
                <div id='specContainer'class="specContainer1">            
                    <p class="label">VIN</p> <p>N/A</p>
                </div>
                <div id='specContainer'class="specContainer2">
                    <p class="label">Category</p> <p><%=item.category%></p>

                </div>
                <div id='specContainer'class="specContainer3">
                    <p class="label">Mileage</p><p>N/A</p>

                </div>
                <div id='specContainer'class="specContainer4">
                    <p class="label">Transmission</p> <p class="trans">Trans: <%=item.trans%></p>

                </div>
              
            </div>
        
            <p class="description"><%=item.description%></p>
            <div class="mockContact">
                <h1 class="contactSeller">Request to Contact Seller (Not for Real Use)</h1>
                <label for="first" id="first">First Name</label>
                <input type="text" class="first" name="first" placeholder="John">
                <label for="last" id="last">Last Name</label>
                <input type="text" class="last" name="last" placeholder="Doe">
                <label for="email" id="email">Email</label>
                <input type="email" class="email" name="email" placeholder="johndoe123411@gmail.com">
                <textarea name="" id="message" placeholder="Your message here"></textarea>
                <button class="submit"><p class="envelope">&#9993; </p>Submit</button>
            </div>   
        </div>
             
    </div>

</body>
<script>
    function changePrimaryImg(){
        const primaryImg = document.querySelector('.primaryImg')
        primaryImg.src = event.target.src
    }
</script>

</html>